/* This is a comment to make my CSS easier to understand */

body {
    background-color: lightblue;
    color: black;
    text-decoration: overline red;
    text-align: left;


  }

  h1{
    color: orange;
    /*background-color: lightblue;*/

  }

  h2{
    color: #090;
    padding: 1em 3px 30px 5px;
    display: block;
  }

  h3{
    color: rgb(34 12 64 / 0.6);
    display: inline;
    
  }

  h4{
    color: hsl(30, 100%, 50%, 0.6);
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
  }

  .LaundryList{
    width: 2cm;
    height: 3 cm;
    max-width: 4 cm;
    min-width: 1cm;
  }
  .px {
    width: 100px;
  }

  .mm {
    width: 100mm;
    display: inline;

  }

  .em {
    width: 10em;
    

  }

  .vw {
    width: 10vw;
  }

  .lh {
    width: 10lh;
  }

.box {
    margin-top: -40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 30px;
   
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 1cm;
}

.padding {
    padding-top: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
}

.ipadding{
    padding: 1em 3px 30px 5px;
}

.ibox {
    margin: 30 30 30 30;
}

.abox {
    margin: auto;
}
     

  p, 
ul {
  border: 2px solid rebeccapurple;
  padding: .5em;
}

.block,
li {
  border: 2px solid blue;
  padding: .5em;
}

ul {
  display: flex;
  list-style: none;
}

.block {
  display: block;
}    

    
/* This is a comment to make my CSS easier to understand */
