/* This is a comment to make my CSS easier to understand */

body {
    background-color: lightblue;
  }

  h1{
    color: orange;
    /*background-color: lightblue;*/

  }

  h2{
    color: #090;
  }

  h3{
    color: rgb(34 12 64 / 0.6);
  }

  h4{
    color: hsl(30, 100%, 50%, 0.6);
  }

  .LaundryList{
    width: 2cm;
  }
  .px {
    width: 100px;
  }

  .mm {
    width: 100mm;
  }

  .em {
    width: 10em;
  }

  .vw {
    width: 10vw;
  }

  .lh {
    width: 10lh;
  }


    
/* This is a comment to make my CSS easier to understand */
