/* This is a comment to make my CSS easier to understand */

body {
    background-color: lightgreen;
  }

  h1{
    color: orange;
  }

  h2{
    color: #090;
  }

  h3{
    color: rgb(34 12 64 / 0.6);
  }

  h4{
    color: hsl(30, 100%, 50%, 0.6);
  }
/* This is a comment to make my CSS easier to understand */
